@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.firstone{
   text-align: center;
   position:relative;
   display: inline-block;

}
.secondone{
    text-align: center;
    position: relative;
    left:280px;
    bottom:300px;
    font-size:large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topnav{
    width:100%;
    height: 70px;
    float:right;
    background-color: #334155;
    

}
    ul{
        float: right;
        display:flex;
        justify-content:center;
        align-items: center;
    }
     .topnav ul li{
        list-style: none;
        margin-left:60px;
        margin-top: 20px;
        font-size: 20px;
        display:inline-block;
        
    }
    .topnav ul li a{
        text-decoration: none;
        color:white;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: 0.3s all;
        
        
    }
    
    .menu::after{
    content:'';
    height:2px;
    width:0%;
    background-color:  rgb(255, 0, 76);
    display:block;
    transition:width 0.3;
    }
   

    .menu:hover::after{
        width: 100%;
        transition: width 0.3s;
    }
    
   h2{
    color:white;
    position: relative;
    bottom: 820px;
    box-sizing: border-box;
    width:fit-content;
    border: solid 3px white;
    padding:6px 8px;
    left:50px;
  
   
    
   }
   button{
    padding: 10px 0;
    color:#fff;
    outline: none;
    background-color: #334155;
    border: 1px solid #334155;
    width: 20%;
    cursor: pointer;
    font-size: large;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:relative;
    bottom:100px;
    left:100px;
  
  }
  button:hover{
    background-color:#1d447c;
  }
  button:focus{
    background-color:#1d447c ;
  }

  img{
    position: relative;
    left:-65px;
    bottom:-62px;
    border-radius: 50%;
    display: inline-block;
    
    
  }
  h3{
    font-family:'open sans', sans-serif;
    font-size: 50px;
    position: relative;
    left:815px;
    bottom:710px;
    color:#1175c6;
    
    

  }
  body{
    overflow-x: hidden;
  }


    




